<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Raiyku</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <a href="https://github.com/dogbutcat/" class="github-fork-ribbon" rel="noopener" title="Fork me on GitHub"></a>
    {{{body}}}
    <div id="banner">
        Welcome to&nbsp;
        <a href="https://codepen.io/dogbutcat/" class="pens" target="_blank" rel="noopener">My CodePen</a>
        <a href="https://codepen.io/dogbutcat/" target="_blank" rel="noopener"><i class="icon1 fa fa-codepen" aria-hidden="true"></i></a>&nbsp;and
        <a href="https://github.com/dogbutcat" class="pens" target="_blank" rel="noopener"> My GitHub </a>
        <a href="https://github.com/dogbutcat" target="_blank" rel="noopener"><i class="fa fa-github"  aria-hidden="true"></i></a>        and
        <a href="https://www.freecodecamp.com/fcc73313d29" class="pens" target="_blank" rel="noopener">
        My FreeCodeCamp<a href="https://www.freecodecamp.com/fcc73313d29" target="_blank" rel="noopener"><i class="freeCodeCamp"></i></a>
        </a>
    </div>
    <script src="js/app.js"></script>
</body>

</html>