* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  /*min-width: 850px;*/
  background-color: #2c3e50;
}

.github-fork-ribbon {
  display: none;
  position: absolute;
  top: 0;
  right: -160px;
  width: 12.1em;
  height: 12.1em;
  font-size: 13px;
  text-align: center;
  overflow: hidden;
  font: 700 1em "Open Sans", sans-serif;
  -webkit-transition: right .5s cubic-bezier(0.215, 0.610, 0.355, 1);
  -moz-transition: right .5s cubic-bezier(0.215, 0.610, 0.355, 1);
  transition: right .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.github-fork-ribbon:after,
.github-fork-ribbon:before {
  position: absolute;
  display: block;
  width: 15em;
  height: 1em;
  top: 3em;
  right: -3em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon:before {
  content: "";
  padding: .38em -0px;
  background-color: #c91c63;
  -webkit-box-shadow: 0 .15em .23em rgba(0, 0, 0, .5);
  box-shadow: 0 .15em .23em rgba(0, 0, 0, .5);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rga(0, 0, 0, .15));
}

.github-fork-ribbon:after {
  content: attr(title);
  padding: .15em 0;
  margin: .15em -0px;
  color: white;
  line-height: 1em;
  border: .08em dotted rgba(255, 255, 255, .7);
}

.loader {
  text-align: center;
}

.loader img {
  margin: 0;
  width: 0;
  -webkit-transition: 1px all ease;
  -o-transition: 1px all ease;
  transition: 1px all ease;
}

.loader.active img {
  margin: 10px auto 20px;
  width: 10%;
}

.messageList {
  margin: auto;
  width: 60%;
  background: grey;
  -webkit-transition: ease 1s;
  -moz-transition: ease 1s;
  transition: ease 1s;
}

.messageList .msg {
  margin: 20px 5px;
  background-color: white;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.messageList .msg:hover{
  -webkit-box-shadow: 0 45px 100px rgba(14, 21, 47, 0.6), 0 16px 40px rgba(14, 21, 47, 0.6);
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.6), 0 16px 40px rgba(14, 21, 47, 0.6);
  -webkit-transform: scale3d(1.07,1.07,1.07);
  -ms-transform: scale3d(1.07,1.07,1.07);
  -o-transform: scale3d(1.07,1.07,1.07);
  transform: scale3d(1.07,1.07,1.07);
}

.messageList .msg .msgBody {
  display: inline-block;
  padding-top: 40px;
  width: 75%;
  vertical-align: top
}

.messageList .msg .msgBody .date {
  padding-right: 20;
  text-align: right;
}

.avatar {
  display: inline-block;
  width: 180px;
  height: 230px;
}

.avatar img {
  display: block;
  margin-left: 15px;
  padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.avatar .avatarName {
  width: 180px;
  text-align: center;
}

.messageList .control .icon {
  /*padding-top: 7.8%;*/
  float: left;
  width: 100px;
  height: 100px;
}

.messageList .control .refresh {
  padding: 25px 5px;
  width: 220px;
  height: 100px;
  font-size: .6em;
  opacity: 0;
  -webkit-transition: cubic-bezier(.25, -0.59, .68, 1.5) 1s;
  -moz-transition: cubic-bezier(.25, -0.59, .68, 1.5) 1s;
  -o-transition: cubic-bezier(.25, -0.59, .68, 1.5) 1s;
  transition: cubic-bezier(.25, -0.59, .68, 1.5) 1s;
}

.messageList .control .refresh:hover {
  opacity: 1;
}

.messageList .control {
  position: relative;
  /*top: -50px;*/
  margin: auto;
  width: 100px;
  height: 100px;
  font-size: 5em;
  font-family: 'Nova Script', cursive;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  cursor: pointer;
  overflow: hidden;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: cubic-bezier(.25, -0.59, .68, 1.5) 1s;
  -moz-transition: cubic-bezier(.25, -0.59, .68, 1.5) 1s;
  -o-transition: cubic-bezier(.25, -0.59, .68, 1.5) 1s;
  transition: cubic-bezier(.25, -0.59, .68, 1.5) 1s;
}

.messageList .control.next:hover {
  width: 250px;
}

a {
  font-size: 0;
  cursor: pointer;
  text-decoration: none;
}

.messageList a.active {
  position: fixed;
  right: 10%;
  bottom: 10%;
  font-size: 5em;
  opacity: .6;
  color: black;
  border-radius: 20px;
  background-color: white;
}

.hide {
  display: none !important;
}

#banner {
  /*position: absolute;*/
  left: 0;
  top: 730px;
  width: 100%;
  height: 80px;
  padding-bottom: 30px;
  /*background-color: #0fc;*/
  background: linear-gradient(to top, transparent 30%, #FFFFFF 60%, transparent);
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}

#banner a.pens {
  text-decoration: none;
  font-size: 25px;
  color: #1d7500;
  font-family: 'Lobster Two', sans-serif;
}

#banner a.pens:hover {
  text-decoration: underline;
}

#banner i {
  font-size: 30px;
  color: #000000;
}

#banner i:hover {
  margin: auto 5px;
  transform: scale(1.4);
}

#banner .freeCodeCamp {
  display: inline-block;
  position: relative;
  top: 10px;
  width: 60px;
  height: 45px;
  transform: scale(.7);
  background: url("/img/freecodecamp.png") no-repeat;
}

#banner .freeCodeCamp:hover {
  transform: scale(1);
}

@media only screen and (max-width:1218px) {
  .avatar {
    display: block;
    margin: auto;
  }
  .messageList .msg .msgBody {
    display: block;
    margin: auto;
    padding: 0px 0 20px 0;
  }
  .messageList .control {
    width: 250px;
    opacity: 1;
  }
  .messageList .control .refresh {
    opacity: 1;
  }
}

@media only screen and (min-width:1218px) {
  .github-fork-ribbon {
    display: block;
    right: 0;
  }
}